<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游记列表</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="css/note/note_all.css">
</head>
<body>
    <h2>游记列表</h2>

    <div id="hot_note">
        <ul>
            <!--<li>
                <div class="note_img">
                    <a href="" ><img src="/images/a.jpeg"></a>
                    </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                 </div>
            </li>

            <li>
                <div class="note_img">
                    <a href="" ><img src="/images/b.jpeg"></a>
                </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                </div>
            </li>
            <li>
                <div class="note_img">
                    <a href="" ><img src="/images/a.jpeg"></a>
                </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                </div>
            </li>

            <li>
                <div class="note_img">
                    <a href="" ><img src="/images/b.jpeg"></a>
                </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                </div>
            </li>
            <li>
                <div class="note_img">
                    <a href="" ><img src="/images/a.jpeg"></a>
                </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                </div>
            </li>

            <li>
                <div class="note_img">
                    <a href="" ><img src="/images/b.jpeg"></a>
                </div>
                <div class="note_detail">
                    <a href="" class="note_title">想和你游世界@新加坡美食亲子之旅</a>
                    <span>坐标：</span><span>新加披</span>
                    <span>作者：</span><a href="" class="note_author"><span>嘎嘎</span></a>
                </div>
            </li>-->
        </ul>

        <div id="pagation">
            <span>共</span><span class="totalPage"></span><span>页，</span>
            <span>共</span><span class="totalCount"></span><span>条记录</span>
            <a href="javascript:loadNote(currentPage-1)" class="provious">上一页</a>
            <span>当前是第</span><span class="currentPage"></span><span>页</span>
            <a href="javascript:loadNote(currentPage+1)"  class="next">下一页</a>
        </div>
    </div>

<script src="/js/note/note_all.js"></script>
</body>
</html>